.toggle-menu {
    &-container {
        position: relative;
        transform: translateX(0);
        cursor: pointer;
        &:active, &:focus {
            outline: none;
        }

        &-closed {
            transform: translateX(250%);
        }
    }
}