.main-container {
    position: relative;
        min-height: 100vh;
        background: 
        center top / contain no-repeat url('../../img/background_top.svg'), 
        center bottom / contain no-repeat url('../../img/background_bottom.svg');
}

.signup {
    &-container {
        & input[type="checkbox"] {
            position: relative;
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }
    }

    &-title-container {
        margin-bottom: 1.5rem;
        padding-top: 4rem;
        
        & h1 {
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: .05rem;
            color: #172B4D;
        }
    }

    &-subtitle-container {
        margin-bottom: 5rem;
        
        & h2 {
            font-size: 1.2rem;
            letter-spacing: .04rem;
            color: #172B4D;
        }
        
    }

    &-form {
        font-size: 1.2rem;
        background-color: #F7FAFC;
        border-radius: 10px;
        padding-bottom: 4rem;

        &-input {
            position: relative;
            height: 100%;
        }

        &-field {
            margin-bottom: 0rem;

            &-text-input {
                margin-bottom: 3rem;
            }
        }

        & &-label {
            position: relative;
            padding: 0;
            border: 0;
            background-color: lighten($color: #000000, $amount: 85%);
            border-radius: 2px;
            box-shadow: 0 0 5px 0 rgba(23, 23, 23, .3);

            &:focus {
                outline: none;
                border: 0;
                box-shadow: 0 0 15px 0 rgba(23, 23, 23, .5);
            }
        }

        & &-label, & &-checkbox-label {
            font-size: 1.2rem;
            letter-spacing: .05rem;
            color: #172B4D;
        }

        &-mail, &-password {
            position: relative;
            // width: 50%;
            top: 50%;
            transform: translateY(-50%);
        }

        &-checkbox-label {
            text-align: left;
        }

        & &-input-field {
            margin-bottom: 0;
            font-size: 1.4rem;
            letter-spacing: .12rem;
            padding: 2rem;
            color: #172B4D;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 0 4px 0 rgba(23, 23, 23, .18);

            &-error {
                position: relative;
                top: -2rem;
                margin-top: 1.5rem;
                text-align: center;
                font-size: 1.2rem;
                color: red;
                font-weight: bold;
            }

            &::placeholder {
                font-size: 1.2rem;
                letter-spacing: .05rem;
                color: #172B4D;
                opacity: .6;
            }

            &:focus {
                outline: none;
                border: 0;
                box-shadow: 0 0 15px 0 rgba(23, 23, 23, .18);
            }

            &[type="checkbox"] {
                box-shadow: none;
            }
        }

        &-checkbox-container {
            position: relative;
            height: 100%;
            padding: 0 1rem;

            & > .signup-form-input {
                position: relative;
                height: 1.5rem;
                padding: 0;
            }
        }

        &-submit {
            margin-top: 7rem;

            & &-button {
                cursor: pointer;
                font-size: 1.4rem;
                letter-spacing: .1rem;
                background-color: #11CDEF;
                border-radius: 5px;
                padding: 1.5rem 4rem;
                color: white;

                &-invalid {
                    background-color: lighten($color: #000000, $amount: 50%);
                    opacity: 1;
                }
            }
        }
    }
}

.signin {
    position: relative;
    padding: 2rem 0;

    & &-container {
        padding: 0;
    }

    & &-text {
        color: white;
        margin-bottom: 0;
    }

    &-link, &-link:visited {
        color: #11CDEF;
    }
    &-text, &-link {
        font-size: 1.4rem;
        letter-spacing: .05rem;
    }
}

/**************************************************************************************************/
/************************************** MEDIA QUERIES *********************************************/
/**************************************************************************************************/

/* Galaxy S5, Moto G4 and bigger */
@media only screen and (min-width: 360px) {
    .signup {
       &-container {
            padding-top: 0;
        }

        &-form {
            &-checkbox-container {
                padding: 0 1rem 0 4rem;
            }
        }
    }

    .signin {
        &-link, &-link:visited {
            color: rgb(18, 247, 255);
        }
    }
}

/* iPad and bigger */
@media only screen and (min-width: 768px) {
    .signup {
       &-container {
            padding-top: 10%;
        }
    }
}

/* Common laptops */
@media only screen and (min-width: 1366px) {
    .signup {
        &-container {
            padding-top: 1%;
        }
    }
}

/* Desktop */
@media only screen and (min-width: 1920px) {
    .signup {
        &-form {
            padding: 4rem 0 6rem 0;
        }
    }
}