.user {
    &-container {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem 0;
    }

    &-sidebar-closed {
        display: none;
    }

    &-btn {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;

        &:active, &:focus {
            outline: none;
        }
    }

    &-img {
        position: relative;
        max-width: 50px;
        transform: translateX(0);
        transition: transform 200ms ease;

        &-closed {
            transform: translateX(100%);
        }
    }

    &-dropdown-btn {
        cursor: pointer;

        &:first-child {
            margin-bottom: 2rem;
        }
    }
}

.dropdown {
    &-pane {
        background-color:rgba(223, 226, 240, 1);
        border-color: rgba(12, 24, 83, .62);
        width: auto;
        padding: 2rem !important;
    }

    &-menu-item {
        position: relative;
        text-align: center;
        border-color: rgba(12, 24, 83, .62);
        color: #0C1853;
        font-size: 1.2rem;
        letter-spacing: .05rem;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}