.top-bar {
    background-color: #FAFFFF;
    padding: 2rem .5rem;
    text-align: center;

    ul {
        background-color: #FAFFFF;
    }

    &-logo {
        position: relative;
        width: 25px;
        margin-right: 1rem;
    }

    &-text {
        position: relative;
        width: 88px;
    }
}