.right-container {
    position: relative;
    transition: width 200ms ease;

    &-topbar {
        height: 80px;
    }

    &-content {
        position: absolute;
        top: 80px;
        left: 0;
    }

    &-closed {
        width: 80% !important;
    }
}

.sidebar {
    &-container {
        position: relative;
        transition: width 200ms ease;
        width: 58.3333% !important;

        &-closed {
            width: 20% !important;
        }
    }
}