.alert {
    &-container {
        position: relative;        

        &-success {
            background-color: #10A033;
        }

        &-danger {
            background-color: #B71C1C;
        }

        &-hidden {
            visibility: collapse;
            display: none;
        }
    }

    &-message {
        &-container {
            padding: 2rem 0;
            margin: 0;
            text-align: center;
        }

        &-text {
            font-size: 1rem;
            letter-spacing: .1rem;
            color: #FFF;
        }
    }
    
}

.close-alert {
    &-button {
        position: relative;
        outline: none;
        border: none;
        left: 10%;
        cursor: pointer;
    }

    &-img {
        position: relative;
        width: 20px;
        height: 20px;
    }
}

/**************************************************************************************************/
/************************************** MEDIA QUERIES *********************************************/
/**************************************************************************************************/

/* Galaxy S5, Moto G4 and bigger */
@media only screen and (min-width: 360px) {

}

/* iPad and bigger */
@media only screen and (min-width: 768px) {
    .close-alert {
        &-button {
            left: 30%;
        }
    }
}

/* iPad Pro and bigger */
@media only screen and (min-width: 1024px) {
    .close-alert {
        &-button {
            left: 35%;
        }
    }
}

/* Common laptops */
@media only screen and (min-width: 1366px) {
    .close-alert {
        &-button {
            left: 40%;
        }
    }
}

/* Desktop */
@media only screen and (min-width: 1920px) {
.close-alert {
        &-button {
            left: 42%;
        }
    }
}
