.db-table-container {
    position: relative;
    width: 100%;
    overflow-x: visible;
    border: 1px solid rgba(255, 0, 0, 0.336);
    margin: 2rem 0;
}

.selected-table-container {
    border: 1px solid rgba(11, 108, 165, 0.466);
    margin: 2rem;

}

.add-form-container {
    background-color: #FCFCFC;
    margin: 1.5rem;
    padding: 1.5rem;
    color: #0C1853;
}

.edit-form-container {
    background-color: #FCFCFC;
    margin: 1.5rem;
    padding: 1.5rem;
    color: #0C1853;
}

.test {
    position: relative;
    background-color: red;
    width: 200px;

    & header {
        position: relative;
        min-width: 100%;
        background-color: blue;
    }
   
}