.db-table-container {
    border: 1px solid rgba(255, 0, 0, 0.336);
    margin: 2rem;
}

.selected-table-container {
    border: 1px solid rgba(11, 108, 165, 0.466);
    margin: 2rem;

}

.rdt_TableHeader {
    text-align: right;
}

.add-form-container {
    background-color: #FCFCFC;
    margin: 1.5rem;
    padding: 1.5rem;
    color: #0C1853;
}