.menu {
    &-container {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem 0;
    }

    &-sidebar-closed {
        display: none;
    }

    &-btn {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;

        &:active, &:focus {
            outline: none;
        }
    }

    &-img {
        position: relative;
        max-width: 50px;
        transform: translateX(0);
        transition: transform 200ms ease;

        &-closed {
            transform: translateX(100%);
        }
    }
}