html {
    font-size: 62.5%;
}

body {
    font-size: 1rem;
    overflow-x: hidden;
    background: #71A2B6;
}

#modal-root {
    position: relative;
    z-index: 1000;
}

#root {
    overflow: hidden;
}