.sidebar {
    &-container {
        margin: 0;
        padding: 2rem;
        background: rgb(218,250,255);
        background: -moz-linear-gradient(0deg, rgba(218,250,255,1) 0%, rgba(234,255,250,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(218,250,255,1) 0%, rgba(234,255,250,1) 100%);
        background: linear-gradient(0deg, rgba(218,250,255,1) 0%, rgba(234,255,250,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dafaff",endColorstr="#eafffa",GradientType=1);
    }

    &-link {
        a {
            color: #0C1853;
        }
    }
}